<section id ="about_us" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="header-section text-center">
            <h2>About Us</h2>
            <p>Glorisa Technovation may act as your One-Stop-Vendor for a turnkey project starting from erecting a plant / factory / warehouse boundary wall, industrial building structure, electrical transformer to point-to-point electrical cabling and wiring, power distribution, sound proof DG sets, power storage and conditioning equipment’s, LED lighting, solar system, micro wind turbines, plant & machinery, ISO Certifications, Material handing equipment’s, IT infra set-up, Data Centre, office furniture, plant automation, robotics, water management system.</p>
            <hr class="bottom-line">
          </div>
          <div class="feature-info">
            <div class="fea">
              <div class="col-md-4">
                <div class="heading pull-right">
                  <h4>Why Glorisa Technovation ?</h4>
                    <ul style="list-style-type: circle;">
                        <li>Integrity, competent and committed Team</li>
                        <li>Industry rich experience</li>
                        <li>Understanding customer needs</li>
                        <li>Reliable solutions & services</li>
                        <li>Competitive pricing</li>
                        <li>Quality Assurance</li>
                        <li>On time execution/Meeting timelines</li>
                        <li>One-Stop-Vendor for many needs</li>
                    </ul>
                </div>
                <div class="fea-img pull-left">
                  <i class="fa fa-css3"></i>
                </div>
              </div>
            </div>
            <div class="fea">
              <div class="col-md-4">
                <div class="heading pull-right">
                  <h4>Who uses Glorisa Technovation?</h4>
                    <ul style="list-style-type: circle;">
                        <li>Automotive</li>
                        <li>Banking, Financial Service & Insurance</li>
                        <li>Information Technology</li>
                        <li>Building, Construction and Maintenance</li>
                        <li>Business Services</li>
                        <li>Education</li>
                        <li>Electronics</li>
                        <li>Engineering</li>
                        <li>Fast-Moving Consumer Goods (FMCG) </li>
                        <li>Food & Beverage</li>
                        <li>Government</li>
                        <li>Healthcare</li>
                        <li>Industrial Goods</li>
                        <li>Manufacturing</li>
                        <li>Media & Publishing</li>
                        <li>Real Estate</li>
                        <li>Telecommunications</li>
                        <li>Transportation & Logistics</li>
                        <li>Travel & Leisure</li>
                    </ul>
                </div>
                <div class="fea-img pull-left">
                  <i class="fa fa-drupal"></i>
                </div>
              </div>
            </div>
            <div class="fea">
              <div class="col-md-4">
                <div class="heading pull-right">
                  <h4>Strategic Partnership</h4>
                  </div>
                <div class="fea-img pull-left">
                  <i class="fa fa-trophy"></i>
                </div>
              </div>
            </div>
        </div>
        </div>
      </div>
    </section>