<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home | Glorisa </title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/gargsarthak30/glorisa-cdn/master/main/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/gargsarthak30/glorisa-cdn/master/main/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/gargsarthak30/glorisa-cdn/master/main/css/imagehover.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/gargsarthak30/glorisa-cdn/master/main/css/style.css"/>
  </head>
  <body>

  {% include 'main/_navbar.html' %}

  {% block content %}
  {% endblock %}
  <script src="https://cdn.rawgit.com/gargsarthak30/glorisa-cdn/master/main/js/jquery.min.js"></script>
  <script src="https://cdn.rawgit.com/gargsarthak30/glorisa-cdn/master/main/js/jquery.easing.min.js"></script>
  <script src="https://cdn.rawgit.com/gargsarthak30/glorisa-cdn/master/main/js/custom.js"></script>
    <script src="https://cdn.rawgit.com/gargsarthak30/glorisa-cdn/master/main/js/bootstrap.min.js"></script>



  </body>
</html>
