<section id ="engineering_technovation" class="section-padding">
      <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h2>Glorisa Engineering & Technovation</h2>
                <hr class="bottom-line">
            </div>
          <div class="col-md-12">
            <div class="detail-info">
                <h5>Glorisa Technovation R&D focuc</h5>
                <p>We at Glorisa Technovation visualizes upcoming trendy technologies that will emerge as a market leader in the coming few years. We continuously design, develop product prototypes/samples or applications that will impact our future or society. We achieve this aim by focusing on continuous product reverse engineering, engineering, technology and innovation as per client needs to stay ahead in their business and to maintain market position. Our market intelligence, understanding customer needs, knowledge, and industry based rich experiences and integrated approach towards any research & development assignment differentiate us in the market. Our R&D will contribute substantially in shaping the future growth of the company.</p>
                <h5>Glorisa Technovation Team</h5>
                <p>We are committed to prove that ‘nothing is impossible’ with our great engineering & technovation team. Our dedicate team comprises of rich experienced professionals and experts in their fields like Dyes & Moulding Development; 3D Animation & Presentation; Engineering 3D Modelling; 2D & 3D AutoCAD; Manufacturing; Machining Process & Surface Treatment; Quality Assurance; Packing Designers; Packaging Printers and Suppliers; Logistics; and Sales & Marketing. We are passionate to offer latest technical specifications and product attributes which helps our client in differentiating their products in the market. We have competencies and capabilities to carry out continuously end-to-end research & development activity initiating from product concept development till its final commercialization.</p>
                <div class = "row">
                    <div class="col-md-3">
                      <img class = " img-responsive" src = "https://raw.githubusercontent.com/gargsarthak30/glorisa-cdn/master/main/img/engg_process.PNG">
                    </div>
                    <div class = "col-md-9">
                        <h5>Glorisa Technovation R&D Process</h5>
                        <p>Glorisa Technovation strictly follows widely accepted model for research & development process as depicted in the flow chart. We work closely with our valued clients as well as stakeholders during the entire product development process. By involving our client at every product development stage, develops a confidence and trust between the two parties. It helps us in seeking their approvals as per R&D process to move forward and maintains transparency in the entire process. During R&D process our biggest challenge is to meet client expectations besides cost optimization, sourcing, product reliability and its durability. We design products keeping in mind to meet customer expectations, its functionality and aesthetic look should be comparable to new generation products. Our prime focus is to enhance product efficiency and effectiveness by our R&D process and achieving delivery timelines as committed with minimum repetitions.</p>
                    </div>
                </div>
                <h5>Glorisa R&D Lab</h5>
                <p>We have our in-house well-equipped state-of-the-art laboratory & facilities to monitor and analyse the product functionality, performance and efficiency as required by our valued clients. Our lab comprises of three sections: Tool Room, Development & Testing Room, and Assembly Room. </p>
                <h5>Manufacturing Capabilities</h5>
                <p>As you know carrying out any research & development activity requires a lot of dedication, sincerity, patience and hard work to achieve our client goal. Taking a step forward, Glorisa Technovation also intend to manufacture the research & development of a product carried by us to ensure that all product attributes and quality is maintained from its initial stage to final stage.</p>
                <h5>Quality Testing & Assurance</h5>
                <p>Glorisa Technovation provide quality testing & assurance facility as per International Standards and Quality Control. </p>
                <div class = "row">

                <h5>ISO Certifications & Approvals</h5>
                <p>During research & development or manufacturing process, if our client requires any ISO or Non-ISO Standards or Auditing & Calibration as well as Training facilities related Certification(s) or Approval(s); Glorisa Technovation can take this opportunity one step ahead by arranging such certifications or approvals on behalf of the client acting as a One-Stop-Vendor and giving them a complete piece of mind.</p>
                <div class = "col-md-4 col-sm-4">
                <b>ISO Standards</b>
                <ul style = "list-style-type: square;">
                    <li>ISO 9001:2015</li>
                    <li>ISO 14001:2015</li>
                    <li>OHSAS 18001:2007</li>
                    <li>ISO 22000:2005</li>
                    <li>ISO/TS 16949:2009</li>
                    <li>ISO 27001:2013</li>
                    <li>ISO 13485:2003</li>
                    <li>ISO 50001:2011</li>
                    <li>ISO 28000:2007</li>
                    <li>ISO 10002:2005</li>
                    <li>ISO 20001: 2011</li>
                    <li>ISO/TS 29001 / API Q1</li>
                </ul>
                    </div>
                    <div class = "col-md-4 col-sm-4">
                <b>Non ISO Standards</b>
                <ul style = "list-style-type: square;">
                    <li>UL</li>
                    <li>CE MARK</li>
                    <li>RoHS</li>
                    <li>ERTL</li>
                    <li>GMP/GLP/GPP </li>
                    <li>HACCP</li>
                    <li>SA 8000</li>
                    <li>PED</li>
                    <li>AD 2000</li>
                    <li>FAMIQS</li>
                    <li>BPR</li>
                    <li>BRC</li>
                    <li>CMMi</li>
                    <li>SIX SIGMA</li>
                    <li>NAAC</li>
                    <li>NBA-AICTE</li>
                    <li>Green Building Certification</li>
                </ul>
                    </div>
                    <div class = "col-md-4 col-sm-4">
                <b>Auditing & Calibration</b>
                <ul style = "list-style-type: square;">
                    <li>2nd Party Auditing</li>
                    <li>Energy Auditing</li>
                    <li>Calibration</li>
                    </ul>
                    </div>
                    </div>
                <h5>Patents & Copyrights Filling</h5>
                <p>If required we can also file Patents or Copyrights on behalf of the client.<br/>Going forward, Glorisa Technovation Team is capable, competent, and committed to carry out consultancy, product reverse-engineering, engineering, innovative R&D activities but also its manufacturing with 100% quality assurance. We execute any assignment with utmost care and up to client satisfaction..</p>
            </div>
          </div>
        </div>
      </div>
    </section>