<section id ="information_technology" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="header-section text-center">
            <h2>Information Technology</h2>
            <hr class="bottom-line">
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="price-table">
              <div class="pricing-head">
                <h4>Software Development</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="price-table">
                <div class="pricing-head">
                    <h4>ERP Development</h4>
                </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="price-table">
              <div class="pricing-head">
                <h4>Mobile Applications</h4>
              </div>
              </div>
          </div>
        </div>
          <br/>
          <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="price-table">
              <div class="pricing-head">
                <h4>Tracking Systems & Solutions</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="price-table">
                <div class="pricing-head">
                    <h4>Global Information System</h4>
                </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="price-table">
              <div class="pricing-head">
                <h4>Global Positioning System</h4>
              </div>
              </div>
          </div>
        </div>
          <br/>
          <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="price-table">
              <div class="pricing-head">
                <h4>E-Commerce</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="price-table">
                <div class="pricing-head">
                    <h4>Security Systems</h4>
                </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="price-table">
              <div class="pricing-head">
                <h4>IPTV</h4>
              </div>
              </div>
          </div>
        </div><br/>
          <div class="row">
              <div class = "col-md-4 col-sm-4">
                  </div>
          <div class="col-md-4 col-sm-4">
            <div class="price-table">
              <div class="pricing-head">
                <h4>Visual Information Systems</h4>
              </div>
            </div>
          </div>
              <div class = "col-md-4 col-sm-4">
                  </div>
          </div>
        </div>
      </div>
    </section>