<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">Glorisa</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#about_us">About Us</a></li>
          <li><a href="#engineering_technovation">Engineering & Technovation</a></li>
          <li><a href="#solution_services">Solutions & Services</a></li>
          <li><a href="#information_technology">Information Technology</a></li>
          <li><a href="#team_member">Team</a></li>
          <li class="btn-trial"><a href="#contact">Contact Us</a></li>
        </ul>
        </div>
      </div>
    </nav>
