<section id ="solution_services" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="header-section text-center">
            <h2>Business Solutions & Services</h2>
            <hr class="bottom-line">
          </div>
            <div class = "col-md-3">
            <h4>ISO Certifications and Approval</h4>
                <ul style="list-style-type: square;">
                    <li>ISO Standards</li>
                    <li>Non ISO Standards</li>
                    <li>Auditing & Calibration</li>
                </ul>
            </div>
            <div class = "col-md-3">
            <h4>LED Lighting</h4>
                <ul style="list-style-type: square;">
                    <li>Project based Industrial LED Lighting</li>
                    <li>Project Based LED Cum Solar Panel based street lighting.</li>
                </ul>
            </div>
            <div class = "col-md-3">
            <h4>Solar Solutions</h4>
                <ul style="list-style-type: square;">
                    <li>Grid Connected Power Systems</li>
                    <li>Off grid Power: Solar PV Roof Top Systems</li>
                    <li>Parking Roof Tops </li>
                    <li>Decentralized Systems Solar Street Lighting Systems</li>
                    <li>Solar Water Heating Systems</li>
                    <li>Solar Water Pumps; Solar Larterns etc</li>
                </ul>
            </div>
            <div class = "col-md-3">
            <h4>Water Management System</h4>
                <ul style="list-style-type: square;">
                    <li>Sewage Treatement Plant</li>
                    <li>Effluent Treatment Plant</li>
                    <li>Water RO Plant</li>
                    <li>Reverse Osmosis</li>
                    <li>Water Softener Plant</li>
                    <li>Solar Water Pumps</li>
                    <li>Solar Larterns etc</li>
                </ul>
            </div>
            </div>
            <div class = "row">
                <div class = "col-md-3">
                <h4>Industrial Equipment</h4>
                    <ul style="list-style-type: square;">
                        <li>Building Solutions</li>
                        <li>Protection, Safety & Security Solutions</li>
                        <li>Visual Information Equipments</li>
                        <li>Fire Fighting Solutions</li>
                        <li>Tracking Solutions</li>
                    </ul>
                </div>
                <div class = "col-md-3">
                <h4>Turnkey Solutions</h4>
                    <p>Starting from plant / factory / warehouse boundary wall, industrial building structure, electrical transformer to point-to-point electrical cabling, wiring, distribution, power storage and conditioning equipment’s, LED lighting, solar system, wind driven turbo ventilators, plant & machinery, ISO Certifications, Material handing equipment’s, IT set-up; Turnkey complete solution by One-Stop-Shop-Glorisa Technovation</p>
                </div>
                <div class = "col-md-3">
                <h4>Services</h4>
                    <ul style="list-style-type: square;">
                        <li>Repair</li>
                        <li>Maintenance</li>
                        <li>AMC</li>
                        <li>Alterations</li>
                        <li>Rental & Leasing</li>
                    </ul>
                </div>
                    </div>
            </div>
    </section>